.elementor-kit-5{--e-global-color-primary:#FFFFFF;--e-global-color-secondary:#54595F;--e-global-color-text:#000000;--e-global-color-accent:#E1AF73;--e-global-color-7f5e15b:#7D950B;--e-global-color-3d80131:#000000;--e-global-color-7742371:#A5734B;--e-global-color-556cd26:#cc8484;--e-global-color-dd660a3:#BF9233;--e-global-color-5903abb:#617248;--e-global-color-5189146:#FFD93D;--e-global-color-dd32273:#FF8400;--e-global-color-fc78fae:#F6F1E9;--e-global-color-ff9de3b:#4F200D;--e-global-typography-primary-font-family:"Yeseva One";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Scope One";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Roboto";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;--e-global-typography-62e6134-font-family:"Montserrat";--e-global-typography-62e6134-font-weight:300;--e-global-typography-05b703c-font-family:"Charm";--e-global-typography-561e843-font-family:"North Wave";--e-global-typography-9a4764e-font-family:"Cormorant Garamond";--e-global-typography-2f5ca02-font-family:"edwardian-script";--e-global-typography-16489b8-font-family:"Bodoni Moda";--e-global-typography-9103b70-font-family:"Manuscrita";--e-global-typography-c6b4511-font-family:"MODELO 2";--e-global-typography-c6b4511-font-weight:500;--e-global-typography-0715696-font-family:"Bodoni Moda";--e-global-typography-0715696-font-weight:500;--e-global-typography-0715696-font-style:italic;--e-global-typography-edaa306-font-family:"Suwannaphum";--e-global-typography-edaa306-font-weight:700;--e-global-typography-13c3dbf-font-family:"Fuente beltra";--e-global-typography-13c3dbf-font-weight:400;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-con{--container-max-width:1140px;}.elementor-widget:not(:last-child){margin-bottom:20px;}.elementor-element{--widgets-spacing:20px;}{}h1.entry-title{display:var(--page-title-display);}.elementor-kit-5 e-page-transition{background-color:#FFBC7D;}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-5{--e-global-typography-62e6134-font-size:22px;--e-global-typography-62e6134-line-height:1.3em;--e-global-typography-05b703c-font-size:22px;--e-global-typography-05b703c-line-height:1.3em;--e-global-typography-561e843-font-size:31px;--e-global-typography-2f5ca02-font-size:32px;--e-global-typography-9103b70-font-size:32px;--e-global-typography-c6b4511-font-size:42px;--e-global-typography-0715696-font-size:24px;--e-global-typography-edaa306-font-size:47px;--e-global-typography-13c3dbf-font-size:24px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'North Wave';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../lib/North_Wave.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'edwardian-script';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../lib/edwardian-script-itc.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Manuscrita';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../lib/Hey-Jenifer.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'MODELO 2';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../lib/Shelley-Andante-Bt.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Fuente beltra';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../lib/belta-regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */